<p><%if(flash[:errors])%>
  <% flash[:errors].each do |e| %>
    <%= e  %>
  <% end %>
<% end %>
</p>

<p><%= form_for @new_msg do |f| %>
    <%= f.label "Message" %><br>
    <%= f.text_area :content %><br>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :board_id, value: @board.id %>
    <%= f.submit "Post Message" %>
  <% end %>
</p>