<% if @user %>
<h1>Welcome, <%= @user.first_name %>!</h1>

Unread boards:
<% if(!@unseen_boards.empty?) %>
  <ul>
    <%@unseen_boards.each do |board| %>
      <li> <%= link_to board.name, board_path(board.id) %> </li>
    <% end %>
  </ul>
<% else %>
  None!<br>
<% end %>
<% end %>
<strong>What other welcome stuff can go here??</strong><br>
<%= form_with url: "/welcome/marquee", method: :post do |f| %>
  <%= f.label "Set new HamHam vibe (currently: #{session[:marquee]})" %>
  <%= f.text_field :marquee %>
  <%= f.submit %>
<% end %>
<hr>
<% if user_signed_in? && current_user.personal_board %>
Head to your <%= link_to "positive vibe space", board_path(current_user.personal_board) %>
<% end %>