<p>

  <strong>Board:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.desc %>
</p>

<!-- Button for user to sub to this board -->
<p>
<% if(!@is_member) %>
<%= form_for @membership do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <%= f.submit "Subscribe" %>
<% end %>

<% else %>

<%= form_for @membership, method: "delete" do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <%= f.submit "Unsubscribe" %>
<% end %>
<% end %>
</p>




<a href="#newest">Jump to last message</a>


<%= render "shared/message" %>

<% @messages.each do |message| %>
    <% if message.user.id == current_user.id %>
      <div class = "right-message">
        <div class = "self-message" >
    <% else %>
      <div class = "left-message">
        <div class = "other-message">
    <% end %>

          <% if current_user.personal_board && @board.id == current_user.personal_board.id %>
            <strong>A fellow hamstar</strong> (<%= message.created_at.localtime.strftime("%m/%d/%Y at %I:%M%p") %>):<br>
          <% else%>

          <strong><%= link_to message.user.first_name, user_path(message.user) %></strong> (<%= message.created_at.localtime.strftime("%m/%d/%Y at %I:%M%p") %>):<br>
          <% end %>
          <%= message.content %><br>
          <% if (current_user.personal_board && @board.id == current_user.personal_board.id) || (message.user.id == current_user.id) %>
            <%= link_to "Delete?", delete_message_path(message.id) %>
          <% end %>
        </div>
      </div>
<% end %>
<a name="newest"></a>

<%= render "shared/message" %>